.track-item {
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid grey;

  &:hover {
    border-color: #5824f3;
    outline: 1px solid #5824f3;
  }
}

.track-item__picture {
  display: block;
  width: 90px;
  height: 90px;
}

.track-item__name {
  display: block;
  font-size: 18px;
}

.track-item__artist {
  font-size: 15px;
  color: #929292;
}